{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ISTQB - Sample{% endblock %}

{% block page_content %}


<div class="page-header">
    <h1 class="text-center">    Lets start    </h1>
</div>

<div class="container-fluid bg-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>
                    <p>{{ question.question_id }}</p>
                    <p> {{ question.question }}</p>
                </h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-3 col-xs-offset-5">
                    <div id="loadbar" style="display: none;">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>
                </div>

                <div class="quiz" id="quiz" data-toggle="buttons">
                    {% for answer in answers %}
                    <label class="element-animation1 btn btn-lg btn-primary btn-block">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </span>
                        <input type="radio" name="q_answer_{{ answer.answer_id }}" value={{ answer.answer_id }}>{{ answer.answer_id }} {{ answer.answer_text }}
                    </label>
                    {% endfor %}

                </div>

            </div>

            <div class="modal-footer text-muted">
                <span id="answer"></span>
                {% if question_id|int() >= 2 %}
                    <button type="button" class="btn-lg btn-primary pull-left">Back</button>
                {% endif %}
                <button type="button" class="btn-lg btn-primary pull-right" id="next" >Next</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}